<!-- app/views/admin/categories/index.html.erb -->
<h1>Admin » Categories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.created_at %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Category', new_admin_category_path, class: 'btn btn-primary' %>